.editAvatarButton {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: url('/UserImages/buttons/change_pfp.svg') center/contain;
    border: none;
    cursor: pointer;
    transform: translate(30%, 30%);
    transition: transform 0.2s ease;
    z-index: 1;
}
