.homepage-content {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 40px;
}

.homepage-containers-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  flex: 1;
  margin-bottom: 40px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}

@media (max-width: 720px) {
  .homepage-containers-wrapper {
    display: flex;           
    flex-direction: column;
    align-items: center;   
    gap: 20px;             
    padding: 0 16px; 
  }

  .homepage-content {
    margin-top: 50px;
    padding-bottom: 60px;   
    overflow-x: hidden;

  }

  .buttons-wrapper button {
    height: 60px;
    width: 150px;
    font-size: 1.2rem;
  }
}