body{
    background-image: url("/backgrounds/background_landing_page.png");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empty-space{
    height: 50vh;
}